<footer id="Contacto" class="main-footer">
  <h2 class="contacto">Contacto</h2>

  <div class="footer-links">
    <a href="https://github.com/MathiasSuarez96" target="_blank">
      <img src="IMG/github-logo.png" alt="GitHub logo" class="logo" />
      GitHub
    </a>

    <a href="https://www.linkedin.com/in/mathias-suarez-069641246/" target="_blank">
      <img src="IMG/Linkedin logo.png" alt="LinkedIn logo" class="logo" />
      LinkedIn
    </a>

    <a href="https://www.instagram.com/mathisuarez_7/" target="_blank">
      <img src="IMG/instagram logo.jpg" alt="Instagram logo" class="logo" />
      Instagram
    </a>

    <a href="mailto:matisuar1899@gmail.com" target="_blank">
      <img src="IMG/gmail-logo.png" alt="Gmail logo" class="logo" />
      Gmail
    </a>
  </div>
  
  <div class="bottom-footer">
    <button id="btn-magico">Mira la magia</button>
  </div>
</footer>