<section id="proyectos">
  <h2 class="proyecto-title">Proyectos</h2>
  <div class="proyecto-grid">
    <div class="grid">
      <h3>Cafe-canna</h3>
      <p>Proyecto realizado en HTML y CSS, donde replico el sitio web de un coffee shop real. Me enfoqué en aplicar buenas prácticas de maquetado, estructura semántica y uso correcto de Flexbox y Grid. Fue mi primer experiencia completa armando una página desde cero.</p>
      <img src="IMG/CafecanaLogo.jpeg" alt="cafe-cana-logo" class="cafecana" />
      <a href="https://github.com/MathiasSuarez96/caffe-canna" target="_blank">Ver en Github</a>
    </div>
    <div class="grid">
      <h3>Mi Landing</h3>
      <p>Landing page personal desarrollada con HTML, CSS y JavaScript. En este proyecto presento mi perfil, formación, habilidades y enlaces relevantes. Me sirvió para practicar maquetación, diseño responsive y animaciones básicas con CSS. El contenido y el código están hechos desde cero.</p>
      <img src="IMG/Mathi-Proyecto.jpeg" alt="Proyecto-Landing" class="Landing" />
      <a href="https://github.com/MathiasSuarez96/Landing-Mathias-Suarez" target="_blank">Ver en Github</a>
    </div>
  </div>
 </section>